.addImage{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.theatreDropdown{
    width: 27.8rem;
    margin-right: 1.5rem;
}
.theatreDropdownlist{
    width: 27.8rem;
}
.addMovieContainer{
    padding: 1rem;
}
.closeImage{
    width: 1rem;
    height: 1rem;
    margin-left: 4.5rem;
    margin-top: -4.5rem;
}
.closeButton{
    cursor: pointer;
}
.addMovieModal{
    position: absolute;
    background-color: white;
    margin-top: 1rem;
    box-shadow: 1px 5px 5px black;
    z-index: 9;
    border-radius: 1rem;
    border: 1px solid;
}