<app-movie-details *ngIf="showMovieDetailsComponent" [selectedMovieId]="selectedMovieId" (movieDetailsEmitter)="movieDetailsClose($event)" ></app-movie-details>
<app-add-movie *ngIf="showAddMovie" (addMovieEmitter)="movieDetailsClose($event)"></app-add-movie>
<div class="d-flex" style="margin-top: 0.5rem;">
    <div style="margin-left: auto;">
        <div class="moviesTitle">List of Movies</div>
    </div>
    <div class="addMovie">
        <div class="btn btn-danger" style="margin-top: 0.3rem;margin-right: 1rem;" (click)="addMovie()" [hidden]="showAddMovie">Add Movie</div>
    </div>
</div>
<div class="d-flex filterArea">
    <div *ngIf="showLanguageFilter" class="" style="width: 12rem;margin-right: 1rem;">
        <ng-multiselect-dropdown
            [placeholder]="'Filter By Language'"
            [settings]="multiSelectDropdownSettings"
            [data]="languageDropdownList"
            [(ngModel)]="selectedLanguageDropdown"
            (onSelect)="languageFilter($event,'select')"
            (onSelectAll)="languageFilter($event,'selectAll')"
            (onDeSelect)="languageFilter($event)"
            (onDeSelectAll)="languageFilter($event)">
        </ng-multiselect-dropdown>
    </div>
    <div *ngIf="showGenreFilter" class="me-3" style="width: 12rem;">
        <ng-multiselect-dropdown
            [placeholder]="'Filter By Genre'"
            [settings]="multiSelectDropdownSettings"
            [data]="genreDropdownList"
            [(ngModel)]="selectedGenreDropdown"
            (onSelect)="genreFilter($event,'select')"
            (onSelectAll)="genreFilter($event,'selectAll')"
            (onDeSelect)="genreFilter($event)"
            (onDeSelectAll)="genreFilter($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="me-auto ms-2">
        <div class="btn btn-primary" (click)="clearFilter()">Reset Filters</div>
    </div>
</div>
<div class="d-flex justify-content-center" style="    height: 70vh;overflow-y: auto;">
    <div class="tableFit">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="Sort" (click)="sortName()">
                            <div><span>Name</span></div>
                            <div *ngIf="currentSort=='name'" class="ms-auto">
                                <svg *ngIf="nameSortOrder=='asc'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                                    <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                                </svg>
                                <svg *ngIf="nameSortOrder=='desc'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                                    <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th>Cast</th>
                    <th>
                        <div class="Sort" (click)="sortLang()">
                            <div>
                                <span>Language</span>
                            </div>
                            <div *ngIf="currentSort=='lang'" class="ms-auto">
                                <svg *ngIf="langSortOrder=='asc'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                                    <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                                </svg>
                                <svg *ngIf="langSortOrder=='desc'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                                    <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th>Genre</th>
                    <th>Number of Locations</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of moviesList" >
                    <td scope="row">{{data.name}}</td>
                    <td>{{data.cast}}</td>
                    <td>{{data.language}}</td>
                    <td>{{data.genre}}</td>
                    <td style="text-align: center;">{{getLocationCount(data.movie_id)}}</td>
                    <td><div class="btn btn-primary" (click)="showMovieDetails(data.movie_id)" >View Details</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
