.addMovie{
    margin-left: auto;
}
.filterArea{
    flex-direction: row-reverse;
    margin-top: 1rem;
}
.Sort{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.tableFit{
    width: 98%;
    margin-top: 1rem;
}
.moviesTitle{
    font-size: 19px;
    font-style: italic;
}