.sideBar{
    height: 100%;
    background-color: #e9384c;
    width: 10rem;
    /* justify-content: flex-end; */
    display: flex;
    flex-direction: column;
}
.moviesArea{
    text-align: end;
}
.moviesArea:hover{
    background-color: darkred;
}
.moviesBtn{
    padding: 1rem 0rem;
    padding-right: 1rem;
    cursor: pointer;
}
.sideBarTitle{
    padding-bottom : 1rem;
    border-bottom: 1px dotted;
}