<div class="container" *ngIf="showMovieDetail" style="position:absolute; padding-left: 12rem;padding-top: 5rem;z-index: 9;">
    <div class="customModal">
        <app-add-theatre [selectedMovieId]="selectedMovieId" [selectedMovieName]="selectedMovieName" [adminData]="adminData" *ngIf="showAddTheatre" (addTheatreEmitter)="updateMovieDetails($event)"></app-add-theatre>
        <app-edit-theatre *ngIf="showEditTheatre" [adminData]="adminData" [selectedMovieId]="selectedMovieId" [selectedTheatreId]="selectedTheatreId" (updateTheatreEmitter)="updateMovieDetails($event)"></app-edit-theatre>
        <div class="heading">
            <div class="title"><span class="h2">{{selectedMovieName}}</span></div>
            <div class="closeButton ms-auto" (click)="closePopup()" ><img class="closeImage" src="../../assets/images/close.svg"></div>
        </div>
        <div class="filterArea">
            <div>
                <div class="btn btn-primary" (click)="addTheatre()">Add Theatre</div>
            </div>
            <div class="ms-auto locationDropdown">
                <ng-multiselect-dropdown *ngIf="showLocationDropdown"
                    [placeholder]="'Select Location'"
                    [settings]="multiSelectDropdownSettings"
                    [data]="locationData"
                    [(ngModel)]="selectedLocations"
                    (onDropDownClose)="selectLocation($event)"
                    (onSelect)="selectLocation($event)"
                    (onSelectAll)="selectLocation($event,'selectAll')"
                    (onDeSelect)="selectLocation($event)"
                    (onDeSelectAll)="selectLocation($event)"
                >
                </ng-multiselect-dropdown>
            </div>
            <!-- <div ngbDropdown class="locationFilter ms-auto">
                <button type="button" class="btn btn-outline-primary" id="locDrop" ngbDropdownToggle>{{selectedLocation}}</button>
                <div ngbDropdownMenu aria-labelledby="locDrop">
                    <button ngbDropdownItem *ngFor="let item of locationList" (click)="setLocation(item)" >{{item}}</button>
                </div>
            </div> -->
        </div>
        <div class="modalBody">
            <div *ngIf="selectedLocations.length==0" class="noLocation">
                Please select location to proceed
            </div>
            <div *ngIf="selectedLocations.length!=0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Theatre Name</th>
                            <th>Timings</th>
                            <th>Location</th>
                            <th>Price</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let theatre of filteredTheatreList">
                            <td scope="row">{{theatre.name}}</td>
                            <td>{{theatre.timings}}</td>
                            <td>{{theatre.location}}</td>
                            <td>{{getPrice(theatre.theatre_id)}}</td>
                            <td>
                                <div class="col-1">
                                    <div class="closeButton ms-auto" (click)="editTheatreDetails(theatre.theatre_id)" ><img class="closeImage" src="../../assets/images/edit.svg"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>