/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.overlay{
    position: absolute;
    width: 100vw;
    height: 90vh;
    background: rgba(255,255,255,0.5);
    z-index: 9;
    display: flex;
    justify-content: center;
}
.overlayInner{
    position: absolute;
    /* width: 100vw; */
    height: 100vh;
    background: rgba(255,255,255,0.5);
    z-index: 9;
    display: flex;
    justify-content: center;
}
.overlayAddTheatre{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.5);
    z-index: 9;
    /* display: flex; */
    /* justify-content: center;*/
}