.landingDetails{
    flex-direction: column;
    width: 40rem;
    align-items: center;
    justify-content: center;
}
.landingContent{
    justify-content: center;
    margin-top: auto;
    height: 100vh;
}